.block1 {
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    background-image: url('../../assets/img/home/background.jpg'); /* Путь к вашей фоновой картинке */
    background-size: cover; /* Растягивает изображение, чтобы оно покрывало весь блок */
    background-repeat: no-repeat; /* Отключает повторение изображения */
    background-position: center; /* Выравнивает изображение по центру блока */
    /* Добавьте остальные стили по вашему усмотрению */
}

#map {
    width: 100%;
    height: 100vh;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .map-column {
    flex: 1; /* Занимает всю доступную ширину */
    margin-right: 20px; /* Расстояние между картой и списком дорог */
  }
  
  .roads-column {
    flex: 1; /* Занимает всю доступную ширину */
  }
