.response-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    width: 95%;
}

