.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F6F7;
    width: 100%;
    position: relative;
    flex-direction: column;
    gap: 32px;
    background-image: url('../assets/img/home/фон_весь.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}