.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 100%;
    padding: 32px;
    position: relative;
}

.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}