.footer {
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
    height: 600px;
    background-color: #f0f0f0; 
    box-sizing: border-box;
    padding: 16px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line {
    width: 80%;
    height: 2px; 
    background-color: #1B314B; 
    margin-top: 32px;
    margin-bottom: 32px;
}

.list-style {
    margin-bottom: 32px;
}